
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#clip{
  margin-left: 41%
  
}

#container{
    width: 400px;
    word-wrap: break-word;
}
*{
    color: white !important;
}